@import-normalize; /* bring in normalize.css styles */

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #212121;
  background-color: #dbcce0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {display: flex;
justify-content: center;
align-items: center;
margin-top: 200px;}

p {
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
    border: 4px solid #3b3b3c;
  background-color: #ffd753;
}